*.aux
*.log
*.sqlite3
*.rdata
*.rds
*.zip
*.pptx
*.pdf
*.rda
*.rda
*.rda
*.log
*.err
*.out
*.html
*.docx*
*.png
*.ipynb*
/data/*
/ms/comments
*_cache
*_files
/ms/mylibrary.bib
/archive/*
/old/*
*.bib
*.DS_Store